@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 14rem;
}

.header_logo {
  margin-top: 2px;
  margin-right: 3rem;
}

.header_nav_logo {
  display: flex;
  align-items: center;
}

.header_nav a {
  padding: 1rem;
  color: #98979d;
  font-weight: 700;
  cursor: pointer;
}
.header_nav a:hover{
  color: #010005;
}

.header_login a {
  margin-right: 2rem;
  color: #807f84;
  cursor: pointer;
}

.header_login button {
  background-color: #26cece;
  color: white;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
  padding: .5rem 1rem;
}

.header_login button:hover{
  background-color: #9ce2e2;
}

/* Body */

.body_princ {
  padding: 2rem 14rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.body_text {
  margin-top: 4rem;
  width: 50%;
}

.body_text h1 {
  color: #33303b;
  font-size: 65px;
  font-weight: 700;
  margin: 0px;
}

.body_text p {
  color: #8f8e94;
  margin: 0px;
  font-size: 20px;
  margin-bottom: 2.5rem;
}

.body_text button {
  background-color: #26cece;
  color: white;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
  font-size: 15px;
  padding: .5rem 1rem;
}
.body_text button:hover{
  background-color: #9ce2e2;
}

.bg_image_princ {
  background-image: url(images/illustration-working.svg);
  height: 475px;
  width: 500px;
}

/* box shortlink */

.short_link_box {
  padding: 2rem 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.short_link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #3a3053;
  align-items: center;
  border-radius: 10px;
  background-image: url(images/bg-boost-desktop.svg);
}

.short_input {
  margin: 0px;
  border: 0px;
}

.short_input input {
  width: 45rem;
  padding: .9rem 2rem;
  border-radius: 8px;
  border: 0px;
}

.short_input p {
  margin: 0px;
  position: absolute;
  margin-top: .2rem;
  margin-left: .2rem;
  color: #ca636c;
  font-style: italic;
  display: none;
}

.short_button {
  margin-left: 2rem;
}

.short_button button {
  background-color: #26cece;
  color: white;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
  font-size: 15px;
  padding: .9rem 2rem;
}
.short_button button:hover{
  background-color: #9ce2e2;
}

.short_generator {
  display: none;
  width: 95%;
  background-color: #f0f1f6;
}

.short_box {
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.short_generator_and_link {
  display: flex;
  align-items: center;
}

.short_link_generator p {
  margin: 0px;
}

.short_gerator{
  color: #46c0ba;
  font-weight: bold;
  margin: 0px;
  margin-right: 2rem;
}

.short_copy button {
  padding: .5rem 1.5rem;
  background-color: #2bd1d1;
  color: white;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}

.short_copy button:hover{
  background-color: #9ce2e2;
}

/* Advanced */

.advanced_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0px auto;
  margin-top: 6rem;
}

.advanced_title h2 {
  margin: 0px;
  font-size: 30px;
  color: #3f3e46;
}

.advanced_title p {
  margin: 0px;
  color: #a2a2aa;
  text-align: center;
}

.advanced_box {
  padding: 2rem 14rem;
  display: flex;
  flex-direction: row;
}

.box {
  background-color: #f0f1f6;
  padding: 2rem 2.5rem;
  margin-top: 4rem;
}

.box_title h4 {
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
}

.box_title p {
  color: #8f8e94;
}

.border_advanced {
  height: 15rem;
  width: 200px;
  border-bottom: 5px solid #26cece;
}

/* Footer */

.footer {
  background-color: #3a2f59;
  background-image: url(images/bg-boost-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
}

.footer_text {
  margin: 0px auto;
  text-align: center;
}

.footer_text h3 {
  font-size: 35px;
  color: white;
  margin: 0px;
  border: 0px;
  margin-bottom: .9rem;
  font-weight: bold;
}

.footer_text button {
  padding: .8rem 2rem;
  background-color: #2bd1d1;
  color: white;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
}

.footer_text button:hover{
  background-color: #9ce2e2;
}

/* Footer Final */

.footer_final {
  background-color: #232027;
  padding-bottom: 1rem;
}

.footer_final_box {
  padding: 2rem 14rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.footer_logo {
  margin-right: 3rem;
}

.footer_features p{
  cursor: pointer;
  color: #858587;
  font-size: 13px;
}


.features_text{
  cursor: default !important;
  color: white !important;
  font-size: 15px !important;
  font-weight: bold !important;
}
.footer_features p:hover{
  color: #64a4a6;
}
.icons a {
  margin-left: 1rem;
  cursor: pointer;
}